main {
    padding-top: 250px;
    padding-bottom: 90px;
}

.productImg{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px ;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

main>div{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
    border-radius: 20px;
}

main>div:hover{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,1);
}

.product-txt{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.product-txt a{
    background-color: transparent;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.product-txt a:hover{
    background-color: #502314;
    color: white;
}

footer {
    background-color: #502314;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width:1000px) {
    .menu-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .productImg{
        width: 300px;
    }
}

@media(max-width:800px){
    .menu-grid {
            grid-template-columns: repeat(1, 1fr);
    }

        .productImg {
            width: 400px;
        }
}