/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../images/banner.jpg');
}

main {
    padding-top: 220px;
    padding-bottom: 50px;
}

/* Container Styles */
.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

/* Heading Styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Select Styles */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Survey Form Styles */
.survey-question {
    margin-bottom: 20px;
}

/* Button Styles */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
